/*
    flex.scss
*/


@use '../base/variables' as v;



.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--col--1 {
        flex-direction: column; 
        justify-content: flex-start;
        align-items: center;
    }

    &--row {
        width: 100%;
        height: auto;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    

    &__box {
        width: 80%;
        background-color: v.$secondaryBlockColor;
        border-radius: 5px;
        padding: 2rem 4rem;
        margin: 1rem;
        height: auto;
        min-height: 10rem;
        position: relative;
        box-shadow: v.$boxShadow;
        
        
        

        &--primary {

            display: flex;
            justify-content: space-between;
            align-items: center;
            color: v.$primaryTextColor;
            font-family: v.$secondaryFontFamily;
            position: initial;
            min-height: 0;
           
            
            
        }

        &--secondary {

            display: flex;
            justify-content: center;
            flex-direction: column;
            color: v.$primaryTextColor;
            font-family: v.$secondaryFontFamily;
            position: initial;
            min-height: 0;
        }

        &--20 {
            width: 200px;
            min-width: 200px;
        }

        &--tags {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin: 1rem 0
        }

        &--completed {
            background-color: v.$activatedBlockColor;
        }

        &__icon {
            position: absolute;
            right: 2rem;
            top: 2rem;
            width: 30px;
            height: 30px;
        }
        
    }
    


}



@media screen and (min-width: 431px) and (max-width: 799px) {
    .flex {
       

        &--col--2 {
            margin-left: 0;
            margin-right: 0;
        }

        &__row {
            margin-top: 1rem;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 2rem;
        }

        &__box {
            width: 60%;
            &--20 {
                width: 100%;
                min-width: 100%;
                box-sizing: border-box;
                margin: 1rem 0;
            }
      }
    }
}



@media screen and (max-width: 430px) {
    .flex {
        &--row {
            margin-top: 1rem;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 2rem;
        }

        &--col--2 {
            margin-left: 0;
            margin-right: 0;


           

        }

        &__box {
            padding: 1rem 2rem;
            width: 80%;

            &--20 {
                width: 100%;
                min-width: 100%;
                box-sizing: border-box;
                margin: 1rem 0;
            }
        }
    }
}

