/*
    variables.scss
*/



// Fonts
$secondaryFontFamily: "Roboto", sans-serif;
$primaryFontFamily: "Anton", sans-serif;
$secondaryTextColor: #e4e4e4;
$primaryTextColor: #f5f5f5;
$mutedTextColor: #e4e4e49f;

$primaryBlockColor: #292929;
$secondaryBlockColor: #414141ea;

$buttonColor: #003366;
$bordersColor: #f5f5f5;