/*
    variables.scss
*/



// Fonts
$secondaryFontFamily: "Roboto", sans-serif;
$primaryFontFamily: "Anton", sans-serif;


// Block Colors
$primaryBlockColor: #4CAF50; 
$secondaryBlockColor: #419946;
$activatedBlockColor: #79af7a; 

// Text Colors
$primaryTextColor: #FFFFFF; 
$secondaryTextColor: #f1f1f1; 
$mutedTextColor: #d6d6d6; 

// Button Colors
$primaryButtonColor: #2f6830;
$secondaryButtonColor: #419946;
$buttonHoverColor: #39863b; 

// Borders
$bordersColor: #79af7a; 

// Box Shadow
$boxShadow: 0px 4px 6px rgba(0, 0, 0, 0.1);